<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LittleFootLiberaryAutomation.Common" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LittleFootLiberaryAutomation.FilePath" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LittleFootLiberaryAutomation.Common>
            <setting name="LogFileLocation" serializeAs="String">
                <value>C:\\Log\\LogTest</value>
            </setting>
            <setting name="WebsiteURL" serializeAs="String">
                <value>C:\\Form\\Web.html</value>
            </setting>
            <setting name="CSVFilePath" serializeAs="String">
                <value>C:\\Users\\manus\\source\\repos\\LittleFootLiberaryAutomation\\LittleFootLiberaryAutomation\\TestData\\LibData.csv</value>
            </setting>
        </LittleFootLiberaryAutomation.Common>
        <LittleFootLiberaryAutomation.FilePath>
            <setting name="LogFileLocation" serializeAs="String">
                <value>C:\Log\LogTest</value>
            </setting>
        </LittleFootLiberaryAutomation.FilePath>
    </userSettings>
</configuration>